[submodule "nln"]
	path = nln
	url = git@gitlab.lanl.gov:CoDesignSummerSchool2016/2hot_nln.git
[submodule "snsph"]
	path = snsph
	url = git@gitlab.lanl.gov:CoDesignSummerSchool2016/2hot_snsph.git
[submodule "wvt"]
	path = wvt
	url = git@gitlab.lanl.gov:CoDesignSummerSchool2016/2hot_wvt.git
[submodule "sph+nln"]
	path = sph+nln
	url = git@gitlab.lanl.gov:CoDesignSummerSchool2016/2hot_sphnln.git
